In [2]:
%pwd

'/home/dan/Desktop/2024-09-16-rproj/analysis'

In [3]:
import os

In [4]:
os.getcwd()

'/home/dan/Desktop/2024-09-16-rproj/analysis'

In [5]:
import pandas as pd

In [6]:
pd.read_csv("../data/data.csv")

    fname lname
0  daniel  chen
1    andy   tai